body{
    font-family:sans-serif;
    background-color:rgb(51,50,49);
    color:rgba(194,127,61);
}
header{
    font-size:30px;
}
#navbar{
    color:rgb(51,50,49);
    position:fixed;
}
.navbar-elm{
    list-style-type:none;
    margin:0px;
    padding:0px;
    width:300px;
    background-color:rgb(166,166,150);
    height:96vh;
    overflow:auto;
    display:block;

}
.navbar-elm:hover{
    border-radius:30px;
}
.nav-link{
    display:block;
    color:black;
    padding:15px 16px;
    text-decoration:none;
    list-style-type:none;
    text-align:center;
    font-size:20px;
    transition:color .5s ease;
}
.nav-link:hover{
    color:rgb(194,127,61);
    
}
.navbar-header{
    text-align:center;
}
#main-doc{
    margin:0px;
    margin-left:320px;
}
.hr{
    border:2px solid rgb(194,127,61);
    border-radius:5px;
}
hr{
    border:solid rgb(51,50,49);
}
code{
    background-color:rgb(166,166,150);
    color:rgb(51,50,49);
    font-size:15px;
    padding:5px;
    border-radius:5px;
}
@media only screen and (max-width:600px){
    body{
        width:80vmin;
        
        width: 100%;
    }
}
@media only screen and (max-width:600px){
    #main-doc{
        width:50vmin;
        float:auto;
        width: 100%;
    }
}
      

